{% extends "homeBase.html.twig" %}
{% block header %}
    {% include 'Home/Layout/homeHeader.html.twig' %}
{% endblock %}
{% block main %}
    <section>

        <div class="span7">
            <h1 style="color: #0f0f0f;background-color: #9d9d9d"> ok {{ msg }}</h1>
        </div>
    </section>
{% endblock %}